<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Listado de especies</title>
    <link rel="icon" href="https://rawcdn.githack.com/CapiFrank/files/de8e7e1b14d521ce85696b01cf05b47ec0f8c403/img/icon.png">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-1BmE4kWBq78iYhFldvKuhfTAU6auU8tT94WrHftjDbrCEXSU1oBoqyl2QvZ6jIW3" crossorigin="anonymous">
    <link href="https://rawcdn.githack.com/CapiFrank/files/0eeff0fe4a181c9570d12c66ff9292cd6673071a/css/main.css"
        rel="stylesheet" media="all">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/axios/0.21.4/axios.min.js"></script>
</head>
<header>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-pprn3073KE6tl6bjs2QrFaJGz5/SUsLqktiwsUTF55Jfv3qYSDhgCecCxMW52nD2"
        crossorigin="anonymous"></script>
    <script
        src="https://rawcdn.githack.com/CapiFrank/js/05686f3826a9cbb43499bb3145c463d2fdf1052f/html_include.js"></script>
    <div data-include="/header"></div>
</header>

<body onload="get_especie('/especie')">
    <div class="container">
        <div class="col">
            <h1>Lista de Especies</h1>
            <p>
                <a href="/especie/registrar">Agregar</a>
            </p>  
            <table class="table">
                <thead>
                    <tr>
                        <th>
                            ID
                        </th>
                        <th>
                            Nombre
                        </th>
                        <th>
                            Nombre Cientifico
                        </th>
                        <th>
                            Descripcion
                        </th>
                    </tr>
                </thead>
                <tbody>

                </tbody>
        </div>
    </div>

    <script src="https://rawcdn.githack.com/CapiFrank/js/37612e636add0d63b0a397c6431a322a80146513/tablescript.js"> </script>
</body>

</html>