<!DOCTYPE html>
<html lang="en">

<head>
    <link rel="icon" href="https://rawcdn.githack.com/CapiFrank/files/de8e7e1b14d521ce85696b01cf05b47ec0f8c403/img/icon.png">
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Inicio - Siete Cueros</title>
</head>
<header>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-pprn3073KE6tl6bjs2QrFaJGz5/SUsLqktiwsUTF55Jfv3qYSDhgCecCxMW52nD2"
        crossorigin="anonymous"></script>
    <script
        src="https://rawcdn.githack.com/CapiFrank/js/05686f3826a9cbb43499bb3145c463d2fdf1052f/html_include.js"></script>
    <div data-include="/header"></div>
</header>

<body>
    <style>
        body {
            background-image: url(https://cdn.clickwallpapers.net/images/clickwallpapers-planet-zoo-game-wallpaper-in-full-hd-img5.jpg);
        }
    </style>
    <div class="position-absolute top-50 start-50 translate-middle">
        <img src="https://rawcdn.githack.com/CapiFrank/files/2f11fa815c154d24c0f7d6a31c633c1472298f5d/img/logo2.png"
            width="500" height="400" />
    </div>
</body>

</html>